{% extends 'base.html' %}
{% block content %}
<h2>About Page</h2>
<p>
    At Digital-Worx, we believe in better ideas created a different way. Digital-Worx is a marketing agency that
    specialises
    in branding and experiential marketing for both the Irish and UK market. We deliver everything from creative
    strategy right through to brand activation. We pride ourselves in bringing brands to life on behalf of our clients.
    We’re ready to put our advertising services to work for you.
</p>

<div class="row featurette">
    <div class="col-md-7">
        <h3>Matthew Turner</h3>
        <p>
            Matthew Turner is a Brand and Marketing Strategist who partners with CEOs, executives and solopreneurs to
            grow their personal and professional brands, human-to-human. After spending nearly a decade working in PR
            and marketing for multimillion dollar brands and startups, Matthew knows what truly drives conversions,
            sold-out launches and New York Times interviews—and it’s not mastering the marketing flavor of the week.
            It’s how well you connect with the heart-beating people you’re trying to help and communicate your
            understanding back to them.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://scontent.fdub4-1.fna.fbcdn.net/v/t1.0-9/s960x960/46181032_10215392947874955_4850133059283976192_o.jpg?_nc_cat=100&_nc_oc=AQk9TRNY5ARCn2cMs9s07h35kUQfpdAfq-1fSDrTf4kANNOr7HTmPWKHJ0rvMF7aWSA&_nc_ht=scontent.fdub4-1.fna&oh=b3c0b5052aff33afc546a29a683b802e&oe=5ECE802A"
            alt="">
    </div>
</div>
{% endblock %}