{% extends 'base.html' %}
{% block content %}
<h2>About Page</h2>
<p>
    At Digital-Worx, we believe in better ideas created a different way. Digital-Worx is a marketing agency that specialises
    in branding and experiential marketing for both the Irish and UK market. We deliver everything from creative
    strategy right through to brand activation. We pride ourselves in bringing brands to life on behalf of our clients.
    We’re ready to put our advertising services to work for you.
</p>
{% endblock %}